[tool.poetry]
authors = ["Stig B. Dørmænen <stigbd@gmail.com>"]
description = "A static web server for data.norge.no"
license = "Apache"
name = "static-rdf-server"
version = "0.1.0"

[tool.poetry.dependencies]
aiohttp = "^3.11.11"
aiohttp-middlewares = "^2.4.0"
certifi = "^2024.12.14"
content-negotiation = "^1.1.2"
gunicorn = "^23.0.0"
multidict = "^6.1.0"
python = ">=3.9,<3.11"
python-dotenv = "^1.0.0"
python-json-logger = "^3.2.1"
rdflib = "^7.1.1"
pathvalidate = "^3.2.3"

[tool.poetry.group.dev.dependencies]
aiohttp-devtools = "^1.1"
black = "^24.10.0"
flake8 = "^7.1.1"
flake8-annotations = "^3.1.1"
flake8-bandit = "^4.1.1"
flake8-black = "^0.3.6"
flake8-bugbear = "^24.12.12"
flake8-docstrings = "^1.7.0"
flake8-eradicate = "^1.5.0"
flake8-import-order = "^0.18.2"
mypy = "^1.14.1"
nox = "^2024.10.9"
nox-poetry = "^1.0.3"
pep8-naming = "^0.14.1"
pyfakefs = "^5.7.3"
pytest = "^8.3.4"
pytest-aiohttp = "^1.0.5"
pytest-asyncio = "^0.25.1"
pytest-cov = "^6.0.0"
pytest-docker = "^3.1.1"
requests = "^2.32.3"
types-requests = "^2.32.0.20241016"

[tool.mypy]
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
strict = false
warn_unreachable = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "gunicorn.*",
  "pythonjsonlogger.*",
  "content_negotiation.*",
]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.coverage.paths]
source = ["static_rdf_server", "*/site-packages"]

[tool.coverage.run]
branch = false
omit = [
  "*gunicorn_config.py",
]
source = ["static_rdf_server"]

[tool.coverage.report]
fail_under = 97
show_missing = true

[tool.pytest.ini_options]
asyncio_mode = "auto"
markers = [
  "unit: marks tests as unit (fast)",
  "integration: marks tests as integration (slower)",
  "contract: marks test as contract (slow)",
]
